{% load static %}

<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="favicon.png" rel="icon" type="image/png">
    <title>Home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'assets/css/icons.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/uikit.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/tailwind.css' %}">
    <script src="https://kit.fontawesome.com/1833d82ae9.js" crossorigin="anonymous"></script>
</head>

<body>

            <header>
                <div class="header_inner">
                    <div class="left-side">
                        <!-- Logo -->
                        <div id="logo" class=" uk-hidden@s">
                            <a href="home.html">
                                <b><h1 style="text-transform: uppercase;">Friendzzz</h1></b>
                            </a>
                        </div>

                        <!--<div class="triger" uk-toggle="target: #wrapper ; cls: sidebar-active">
                            <i class="uil-bars"></i>
                        </div>-->

                        <div class="header_search">
                            <form action="{% url 'home:search' %}" method="POST">
                                {% csrf_token %}
                                <input type="text" name='username' placeholder="Search for username..">
                                <div class="icon-search">
                                    <button type="submit"><i class="fa fa-search"></i></button>
                                </div>
                            </form>
                        </div>

                    </div>

                    <div class="right-side lg:pr-4">
                         <!-- upload -->
                        <a href="{% url 'home:profile' user_profile.user %}"><b class='mr-4'>@{{user.username}}</b>&nbsp;</a>
                        <a href="#"
                            class="bg-pink-500 flex font-bold hidden hover:bg-pink-600 hover:text-white inline-block items-center lg:block max-h-10 mr-4 px-4 py-2 rounded shado text-white">
                            <ion-icon name="add-circle" class="-mb-1
                             mr-1 opacity-90 text-xl uilus-circle"></ion-icon> Upload Pics 
                        </a>
                         <!-- upload dropdown box -->
                        <div uk-dropdown="pos: top-right;mode:click ; animation: uk-animation-slide-bottom-small" class="header_dropdown">

                            <!-- notification contents -->
                            <div class="flex justify-center flex-center text-center">
    
                                <div class="flex flex-col choose-upload text-center">
                                    
                                    <div class="bg-gray-100 border-2 border-dashed flex flex-col h-24 items-center justify-center relative w-full rounded-lg  ">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-12">
                                            <path d="M5.5 13a3.5 3.5 0 01-.369-6.98 4 4 0 117.753-1.977A4.5 4.5 0 1113.5 13H11V9.413l1.293 1.293a1 1 0 001.414-1.414l-3-3a1 1 0 00-1.414 0l-3 3a1 1 0 001.414 1.414L9 9.414V13H5.5z" />
                                            <path d="M9 13h2v5a1 1 0 11-2 0v-5z" />
                                        </svg>
                                    </div>
                                    
                                    <form action="{% url 'home:upload' %}" method="post" enctype='multipart/form-data'>
                                        {% csrf_token %}
                                        <p class="my-3 leading-6"> Upload pics  <br> please upload here....
                                            
                                        </p>
                                        <div class="col-span-2 mb-3">
                                            <input name='post_image'  type="file"  class="shadow-none bg-gray-100">
                                        </div>
                                        <div class="col-span- mb-3">
                                            <input name='title'  type="text" placeholder="Title" class="shadow-none bg-gray-100">
                                        </div>
                                        <div class="col-span-2">
                                            <input name='tag'  type="text" placeholder="Tags...." class="shadow-none bg-gray-100">
                                        </div>
                                        <div class="col-span-2 mt-3">
                                            <label for="description">Description</label>  
                                            <textarea  name="description" rows="3"  class="shadow-none bg-gray-100"></textarea>
                                        </div> 
                                        <div class="bg-gray-10 p-6 pt-0 flex justify-end space-x-3 mt-4">
                                            <a href="{% url 'home:index' %}"><button class="p-2 px-4 rounded bg-gray-50 text-red-500"> Cancel </button></a>
                                            <button type="submit" class="button bg-blue-700"> Upload </button>
                                        </div>
                                    </form>
                                </div>    
                            </div>
                        </div>
                        

                        <!-- profile -->
                        {% if user.is_authenticated %}
                        <a href="#">
                            <img src="{{user_profile.profile_image.url}}" class="header-avatar" alt="">
                        </a>
                        {% endif %}
                        <div uk-drop="mode: click;offset:9" class="header_dropdown profile_dropdown border-t">
                            {% if user.is_authenticated %}
                            <ul>
                                <li><a href="{% url 'home:settings' %}"> Account setting </a> </li>
                                <li><a href="{% url 'user:logout' %}"> Log Out</a></li>
                            </ul>
                            {% else %}
                            <ul>
                                <li><a href="{% url 'user:login' %}"> Login</a></li>
                                <li><a href="{% url 'user:signup' %}">Register</a></li>
                            </ul>
                            {% endif %}
                        </div>

                    </div>
                </div>
            </header>

            <div class="container m-auto">

                    <div class="space-y-5 flex-shrink-0 lg:w-7/12 mb-5">

                        
                        {% for post  in posts reversed %}
                        
                        <div class="bg-white shadow rounded-md  -mx-2 lg:mx-0">
    
                            <!-- post header-->
                            <div class="flex justify-between items-center px-4 py-3">
                                <div class="flex flex-1 items-center space-x-4">
                                    <a href="{% url 'home:profile' post.user %}">
                                        <div class=" from-yellow-600 to-pink-600 p-0.5 rounded-full"> 
                                             
                                            {% comment %} <img src="{{friend_profile.user.profile_image.url}}" class=" bg-gray-200 border border-white rounded-full w-8 h-8"> {% endcomment %}
                                            <span class="block  font-semibold "> @{{post.user}} <br> 
                                        </div>
                                    </a><br>
                                    
                                </div>
                                
                                
                              <div>
                                <a href="#"> <i class="icon-feather-more-horizontal text-2xl hover:bg-gray-200 rounded-full p-2 transition -mr-1 "></i> </a>
                                
                                    {% if user.is_authenticated %}
                                        {% if post.user == request.user.username %}
                                     <div class="bg-white w-56 shadow-md mx-auto p-2 mt-12 rounded-md text-gray-500 hidden text-base border border-gray-100  " uk-drop="mode: hover;pos: top-right">
                                        
                                        <ul class="space-y-1">
                                            <li> 
                                                <a href="{% url 'home:delete' post.id %}" class="flex items-center px-3 py-2 text-red-500 hover:bg-red-100 hover:text-red-500 rounded-md ">
                                                <i class="uil-trash-alt mr-1"></i>  Delete
                                                </a> 
                                            </li>
                                            </ul>
                                        </div>    
                                        {% endif %}
                                    {% endif %}
                              </div>
                            </div>
    
                            <div uk-lightbox>
                                <p class="title " style="margin-left:1rem;margin-bottom:1rem;">{{post.title}}</p></span> 
                                <a href="{{post.post_image.url}}">  
                                    <img src="{{post.post_image.url}}" alt="">
                                </a>
                            </div>
                            
    
                            <div class="py-3 px-4 space-y-3"> 
                               
                                <div class="flex space-x-4 lg:font-bold">
                                    <a href="{% url 'home:like' %}?post_id={{post.id}}" class="flex items-center space-x-2">
                                        <div class="p-2 rounded-full text-black">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" width="25" height="25" class="">
                                                <path d="M2 10.5a1.5 1.5 0 113 0v6a1.5 1.5 0 01-3 0v-6zM6 10.333v5.43a2 2 0 001.106 1.79l.05.025A4 4 0 008.943 18h5.416a2 2 0 001.962-1.608l1.2-6A2 2 0 0015.56 8H12V4a2 2 0 00-2-2 1 1 0 00-1 1v.667a4 4 0 01-.8 2.4L6.8 7.933a4 4 0 00-.8 2.4z" />
                                            </svg>
                                        </div>
                                        
                                    </a>
                                    <a href="#" class="flex items-center space-x-2">
                                        <div class="p-2 rounded-full text-black">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" width="25" height="25" class="">
                                                <path fill-rule="evenodd" d="M18 5v8a2 2 0 01-2 2h-5l-5 4v-4H4a2 2 0 01-2-2V5a2 2 0 012-2h12a2 2 0 012 2zM7 8H5v2h2V8zm2 0h2v2H9V8zm6 0h-2v2h2V8z" clip-rule="evenodd" />
                                            </svg>
                                        </div>
                                        
                                    </a>
                                </div>
                                <div class="likes">
                                    <b>
                                        {% if post.post_like == 0 %}
                                        <p>No likes</p>
                                        {% elif post.post_like == 1 %}
                                        <p>Liked by {{post.post_like}} person</p>
                                        {% else %}
                                        <p>Liked by {{post.post_like}} people</p>
                                        {% endif %}
                                        Posted on {{post.post_date}}
                                    </b>
                                </div>
                                <div class="tags">
                                    <p>{{post.tag}}</p>
                                    <p>{{post.description}}</p>
                                </div>
    
                            </div>
    
                        </div>
                        
                        {% endfor %}
                    </div>

                    <!-- right sidebar-->
                    <div class="lg:w-5/12 mb-5 mt-5">

                        <div class="bg-white  shadow-md rounded-md overflow-hidden">

                            <div class="bg-gray-50  border-b border-gray-100 flex items-baseline justify-between py-4 px-6 ">
                                <h2 class="font-semibold text-lg">Users You Can Follow</h2>
                                <a href="{% url 'home:index' %}"> Refresh</a>
                            </div>
                           
                            <div class="divide-gray-300 divide-gray-50 divide-opacity-50 divide-y px-4 ">

                                {% for user in user_suggestion  %}

                                <div class="flex items-center justify-between py-3">
                                    <div class="flex flex-1 items-center space-x-4">
                                        <a href="{% url 'home:profile' user.user %}">
                                            <img src="{{user.profile_image.url}}" class="bg-gray-200 rounded-full w-10 h-10">
                                        </a>
                                        <div class="flex flex-col">
                                            <span class="block capitalize font-semibold">{{user.user}}</span>
                                        </div>
                                    </div>
                                    <a href="{% url 'home:profile' user.user %}" class="border border-gray-200 font-semibold px-4 py-1 rounded-full hover:bg-pink-600 hover:text-white hover:border-pink-600 ">View Profile </a>
                                </div>
                                {% endfor %}
                            </div>

                        </div>
                    </div>

                </div>               
          

            </div>

        </div>

    </div>








 <!-- Scripts
    ================================================== -->
    <script src="{% static 'assets/js/tippy.all.min.js' %}"></script>  
    <script src="{% static 'assets/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'assets/js/uikit.js' %}"></script>
    <script src="{% static 'assets/js/simplebar.js' %}"></script>
    <script src="{% static 'assets/js/custom.js' %}"></script>


    <script src="{% static '../../unpkg.com/ionicons%405.2.3/dist/ionicons.js' %}"></script>
</body>


</html>